<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BalanceMain.Properties.Settings.BalanceTestConnectionString"
            connectionString="Data Source=DESKTOP-SFISBD3\SQL2008SRV;Initial Catalog=BalanceTest;User ID=sa;Password=escort;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>