<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=LAPTOP-ASUS; Initial Catalog = BalanceTest; Integrated Security = False; User Id = sa; Password = qwerty"
      providerName="System.Data.SqlClient"/>
    <add name="Test" connectionString="Data Source=LAPTOP-ASUS; Initial Catalog = Test_Action; Integrated Security = False; User Id = sa; Password = qwerty"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>