<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="data source=LAPTOP-ASUS;initial catalog=TesNew;persist security info=True;user id=sa;password=qwerty;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>